<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <CustomLevels>
        <CustomLevel name="VENTA" intLevel="350" />
        <CustomLevel name="MERCADERIA" intLevel="250" />
        <CustomLevel name="PROVEEDOR" intLevel="200" />
        <CustomLevel name="COMANDA" intLevel="150" />
        <CustomLevel name="CUENTA" intLevel="100" />
    </CustomLevels>

    <Appenders>
        <RollingFile name="Venta" fileName="logs/Ventas.log"
                     filePattern="logs/Ventas-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="Producto" fileName="logs/Producto.log"
                     filePattern="logs/Producto-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="Proveedor" fileName="logs/Proveedor.log"
                     filePattern="logs/Proveedor-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="Comanda" fileName="logs/Comanda.log"
                     filePattern="logs/Comanda-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="Cuenta" fileName="logs/Cuenta.log"
                     filePattern="logs/Cuenta-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="IngresoVentaLogger" level="VENTA" additivity="false">
            <AppenderRef ref="Venta" />
        </Logger>

        <Logger name="IngresoMercaderiaLogger" level="MERCADERIA" additivity="false">
            <AppenderRef ref="Producto" />
        </Logger>

        <Logger name="ProveedorLogger" level="PROVEEDOR" additivity="false">
            <AppenderRef ref="Proveedor" />
        </Logger>

        <Logger name="ComandaLogger" level="COMANDA" additivity="false">
            <AppenderRef ref="Comanda" />
        </Logger>

        <Logger name="CuentaLogger" level="CUENTA" additivity="false">
            <AppenderRef ref="Cuenta" />
        </Logger>

        <Root level="trace">
            <AppenderRef ref="Venta" />
            <AppenderRef ref="Producto" />
            <AppenderRef ref="Proveedor" />
            <AppenderRef ref="Comanda" />
            <AppenderRef ref="Cuenta" />
        </Root>
    </Loggers>
</Configuration>
